<%- include ('header') %>
    <form action="/campgrounds/<%= camp._id %>/<%= comment._id %>/comment/edit" method="POST">
        <h1 style="text-align: center; margin-top: 7%;">Update your comment to <%= camp.name %></h1>
        <div class="auth2">
            <label for="in2" class="input-group-text">Comment</label>
            <textarea name="comment" class="form-control" id="in2" rows="3" required><%= comment.comment %></textarea>
            <button type="submit" style="margin-top: 2%; width:100%;" class="btn btn-outline-primary">Update</button>
        </div>
    </form>
<%- include ('footer') %>